
<router-outlet></router-outlet>

<!-- <div class="container-fluid">
    <div class="row">
        Sidebar
        <div class="col-md-3">
            <app-side-bar></app-side-bar>
        </div>
        Main Content
        <div class="col-md-9">
            <router-outlet></router-outlet>
        </div>
    </div>
</div> -->

<!-- <app-main-header></app-main-header>
<app-main-sidebar></app-main-sidebar>
<main id="main" class="main">
    
    End Page Title
    <section class="section dashboard">
      <div class="row">
        Left side columns
        <div class="col-lg-11">
          <div class="row">
            <router-outlet></router-outlet>
 
          </div>
        </div>End Left side columns
      </div>
    </section>

  </main>End #main
  <app-main-footer></app-main-footer> -->
  