<p>pdf works!</p>
 <!-- bill Pdf  start -->
                
 <!-- <div class="row" #printableArea> -->
    <!-- Booking Data Section (Left Side) -->
     <!-- <div class="col-md-6" >
        <div style="margin-left: 30px">
         <h3>Bill ID </h3> -->
                            <!-- <label for="">Bill Id </label>
                            <p>{{ bill.bill_id}}</p>
                            <label for="">Patient Name </label>
                            <p>{{ bill.passent_name}}</p>
                            <label>Age:</label>
                            <p>{{ bill.age}}</p>
                            <label>Admission Date:</label>
                            <p>{{bill.age}}</p>
                            <label>Discharge Date:</label>
                            <p>{{bill.admition_date}}</p>
                            <label>Admitted Days:</label>
                            <p>{{bill.admitedDays}}</p>
                            <label>Daily Cost:</label>
                            <p>{{bill.daily_cost}}</p>
                            <label>Total Amount:</label>
                            <p>{{bill.total_amount}}</p>
                            <label>Paid Amount:</label>
                            <p>{{bill.paid_amount}}</p>
                            <label>Due Amount:</label>
                            <p>{{bill.due_amount}}</p>
                            <label>Payment Mathod:</label>
                            <p>{{bill.paymentMethod}}</p>
                             -->

                  
                <!-- bill Pdf  stop -->

        <!-- </div>
     </div>
   </div> -->
      <!-- bill Pdf  stop -->
