<!-- <div class="container mt-3">
  <h2>Generate Bill from Discharge</h2>

  <form (submit)="generateBill()">
    <div class="mb-3">
      <label for="patientName" class="form-label">Patient Name:</label>
      <select class="form-select" id="patientName" [(ngModel)]="selectedPatient" name="patientName" required>
        <option *ngFor="let patient of patients" [value]="patient.name">{{ patient.name }}</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="age" class="form-label">Age:</label>
      <input type="number" class="form-control" id="age" [(ngModel)]="discharge.age" name="age" required>
    </div>
    <div class="mb-3">
      <label for="admissiondate" class="form-label">Admission Date:</label>
      <input type="date" class="form-control" id="admissiondate" [(ngModel)]="discharge.admissiondate" name="admissiondate" required>
    </div>
    <div class="mb-3">
      <label for="dischargeDate" class="form-label">Discharge Date:</label>
      <input type="date" class="form-control" id="dischargeDate" [(ngModel)]="discharge.dischargeDate" name="dischargeDate" required>
    </div>
    <div class="mb-3">
      <label for="admitade_dayse" class="form-label">Admitted Days:</label>
      <input type="number" class="form-control" id="admitade_dayse" [(ngModel)]="discharge.admitade_dayse" name="admitade_dayse" required>
    </div>
    <div class="mb-3">
      <label for="dischargeSummary" class="form-label">Discharge Summary:</label>
      <textarea class="form-control" id="dischargeSummary" [(ngModel)]="discharge.dischargeSummary" name="dischargeSummary" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Generate Bill</button>
  </form>
</div> -->
