<!-- ======= Sidebar ======= -->
<!-- <aside id="sidebar" class="sidebar bg-info"> -->
    <aside id="sidebar" class="sidebar" style="background-color: #F0FFFF;">
        <ul class="sidebar-nav" id="sidebar-nav">
          <!-- User Dashboard -->
          <div class="container-fluid bg-f0932a p-2">
            <li class="nav-item mt-2">
              <a class="nav-link" routerLink="/">
                <i class="fa-solid fa-house"></i>
                <span>Home</span>
              </a>
            </li>
        
            <li class="nav-item mt-2">
              <a class="nav-link " routerLink="/admission">
                <i class="bi bi-box-fill"></i>
                <span>Admission</span>
              </a>
            </li>
      
            <li class="nav-item mt-2">
              <a class="nav-link " routerLink="/appointment">
                <i class="fa-solid fa-address-card"></i>
                <span>Appointment</span>
              </a>
            </li>
      
            <li class="nav-item mt-2">
              <a class="nav-link " routerLink="/api/doctors">
                <i class="fa-solid fa-address-card"></i>
                <span>Doctor</span>
              </a>
            </li>
      
            <li class="nav-item mt-2">
              <a class="nav-link " routerLink="/test">
                <i class="fa-solid fa-address-card"></i>
                <span>Test Add</span>
              </a>
            </li>
      
            <li class="nav-item mt-2">
              <a class="nav-link " routerLink="/bill">
                <i class="fa-solid fa-address-card"></i>
                <span>Bill </span>
              </a>
            </li>
      
            <li class="nav-item mt-2">
              <a class="nav-link " routerLink="/employee">
                <i class="fa-solid fa-address-card"></i>
                <span>Employee</span>
              </a>
            </li> 
      
            <li class="nav-item mt-2">
              <a class="nav-link " routerLink="/discharge">
                <i class="fa-solid fa-address-card"></i>
                <span>Discharge</span>
              </a>
            </li> 
            <li class="nav-item mt-2">
              <a class="nav-link " routerLink="/pasentsarch">
                <i class="fa-solid fa-address-card"></i>
                <span>Pasent Sarch By Doctor</span>
              </a>
            </li> 
            <li class="nav-item mt-2">
              <a class="nav-link " routerLink="/">
                <i class="fa-solid fa-address-card"></i>
                <span>Log out</span>
              </a>
            </li> 
      </div>
      </ul>
      
      </aside><!-- End Sidebar-->