 <!-- ======= Sidebar ======= -->
 <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="admin/dashboard">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      

      <li class="nav-heading">Administration</li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="doctors">
          <i class="bi bi-person"></i>
          <span>Doctors</span>
        </a>
      </li><!-- End Profile Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="test">
          <i class="bi bi-question-circle"></i>
          <span>Test</span>
        </a>
      </li><!-- End F.A.Q Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="admission">
          <i class="bi bi-envelope"></i>
          <span>Admission</span>
        </a>
      </li><!-- End Contact Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="appointment">
          <i class="bi bi-card-list"></i>
          <span>Appointment</span>
        </a>
      </li><!-- End Register Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="employee">
          <i class="bi bi-box-arrow-in-right"></i>
          <span>Employee</span>
        </a>
      </li><!-- End Login Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="bill">
          <i class="bi bi-dash-circle"></i>
          <span>Bill</span>
        </a>
      </li><!-- End Error 404 Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="discharge">
          <i class="bi bi-file-earmark"></i>
          <span>Discharge</span>
        </a>
      </li><!-- End Blank Page Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="pasentsarch">
          <i class="bi bi-file-earmark"></i>
          <span>Search</span>
        </a>
      </li><!-- End Blank Page Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="home">
          <i class="bi bi-file-earmark"></i>
          <span>home</span>
        </a>
      </li><!-- End Blank Page Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="pdf">
          <i class="bi bi-file-earmark"></i>
          <span>Receipt</span>
        </a>
      </li><!-- End Blank Page Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="bade">
          <i class="bi bi-file-earmark"></i>
          <span>Bed</span>
        </a>
      </li><!-- End Blank Page Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="test-patient">
          <i class="bi bi-file-earmark"></i>
          <span>Test Maker</span>
        </a>
      </li><!-- End Blank Page Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="login">
          <i class="bi bi-file-earmark"></i>
          <span>Logout</span>
        </a>
      </li><!-- End Blank Page Nav -->
      

    </ul>

  </aside><!-- End Sidebar-->