
<div class="sidebar">

  
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/test">About</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/admission">Admission</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/doctors">Doctors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/appointment">appointment</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/employee">employee</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/bill">Bils</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/bade">Bads</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/discharge">discharge</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/pasentsarch">pasentsarch</a>
      </li>
    </ul>
  </div>
  
